body {
    background-image: linear-gradient(#cccc, #ffff 80vh);
    margin: 0;
}

.page-margin{
    margin: 5vh 5vw;
}

.header-color {
    color: #033076;
}

.page-color {
    color: #0844a4;
}

.page-font {
    font-family: 'Orbitron', sans-serif;
}

.text-font{
    font-family: "Arial", sans-serif;
    text-shadow: 1px 1px 2px #7a7a7a;
}

.shadow{
    box-shadow: 2px 2px 5px #606060;
}

.f15 {
    font-size: max(15px, 2vmin);
}

.f20 {
    font-size: max(20px, 2.5vmin);
}

.f30 {
    font-size: max(30px, 3.5vmin);
}

.f40 {
    font-size: max(40px, 5vmin);
}

.mt5 {
    margin-top: 50px
}

.mb3 {
    margin-bottom: 30px
}

.ml2 {
    margin-left: 20px
}

.ml5 {
    margin-left: 50px;
}

.mr1{
    margin-right: 10px;
}

.mr2{
    margin-right: 20px;
}

.mr5{
    margin-right: 50px;
}

.vm5 {
    margin: 5vh 5vw;
}

.vmt3{
    margin-top: 3vh;
}

.vmt10{
    margin-top: 10vh;
}

.vmv2{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.vmh2{
    margin-right: 2vw;
    margin-left: 2vw;
}

.p1{
    padding: 10px;
}

.pb2{
    padding-bottom: 20px;
}

.vp5{
    padding: 5vh 5vw;
}

.flex {
    display: flex;
}

.f-center {
    align-items: center;
}

.f-baseline {
    align-items: baseline;
}

.f-between {
    justify-content: space-between;
}

.f-around{
    justify-content: space-around;
}

.f-column {
    flex-direction: column;
}

.f-column-reverse{
    flex-direction: column-reverse;
}

.f-wrap{
    flex-wrap: wrap;
}

.underline-dark {
    border-bottom: 2px solid #444444;
}

.underline-bright {
    border-bottom: 2px solid #91e4fb;
}

.vertical-line {
    border-right: 2px solid #444444;
}

.page-border {
    border: 2px solid #444444;
    border-radius: 2vmin;
}

.list-none{
    list-style-type: none;
}

/*------------Header-----------*/

.logo-icon {
    height: 7vmin;
    width: auto;
    min-height: 50px;
}

.link {
    padding: 0.2em;
    color: #033076;
    text-decoration: none;
}

.link:hover {
    color: #ff6624;
}

.button-blue {
    background-color: #033076;
    color: #91e4fb;
    padding: 0.2em 1.5em;
    border-radius: 0.5em;
    border-style: none;
}

.button-blue:hover {
    color: #ff6624;
}

/*----------Home page-----------*/

.table-element {
    width: 50%;
    padding: 3vh 3vw;
}

.button-robot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 0.5em;
    color: black;
    padding: 0 1em;
    height: 1.8em;
    width: 20vw;
    background-image: linear-gradient(#7a7a7a, #ffff, #7a7a7a);
}

.button-robot:hover{
    background-image: linear-gradient(#0844a4, #91e4fb, #0844a4);
    text-shadow: 0 0 5px white;
}

.lamp-red{
    background-image: radial-gradient(closest-side, red 80%, black 90%, transparent);
    width: 1em;
    height: 1em;
}
.lamp-green{
    background-image: radial-gradient(closest-side, green 80%, black 90%, transparent);
    width: 1em;
    height: 1em;
}
.lamp-blue{
    background-image: radial-gradient(closest-side, blue 80%, black 90%, transparent);
    width: 1em;
    height: 1em;
}

.article-head{
    color: #444444;
    margin-left: 10px;
}

.article-head:hover{
    background-image: linear-gradient(90deg, transparent, #0844a450 5% 20%, transparent 80%);
    color: #ff4424;
    text-shadow: 0 0 3px black;
    cursor: default;
}

.article-body{
    margin: 5vh 5vw;
    padding: 5vh 5vw;
}

.img-wide{
    width: 100%;
    height: auto;
}

/*--------Control----------*/

.video {
    border: 2px solid black;
    box-shadow: 0 0 3vmin #0844a4;
    border-radius: 2vmin;
    margin: 5vh 0 2vh 0;
    width: 0;
    height: 0;
}

.stream{
    width: 95%;
    height: 95%;
}

.control-head{
    color: #91e4fb;
    background-image: linear-gradient(#033076, blue, #033076);
    border-radius: 1em 0 0 1em;
    padding: 0 1em;
}

.control-element{
    border: 2px solid #033076;
    height: 2em;
}

.control-msg{
    width: 40vw;
}

.control-tail{
    color: #ff6624;
    background-image: linear-gradient(#033076, blue, #033076);
    border-radius: 0 1em 1em 0;
    padding: 0 1em;
    margin: 0;
}

.control-tail:hover{
    color: #91e4fb;;
}

.control-wrap{
    border-radius: 1em;
}

.control-info-btn{
    position: absolute;
    font-size: 4vh;
    right: 10px;
    top: 10px;
}

.control-info-panel{
    position: absolute;
    width: 50vw;
    height: 90vh;
    margin: 0 auto;
    top: 5vh;
    background-image: linear-gradient(#ccccccf0, #fffffff0);
}

.text-center{
    text-align: center;
}

/*--------devices----------*/

.dev-panel{
    background-image: linear-gradient(#091f59 30%, white);
    width: 20vw;
    min-height: 100vh;
    padding: 20px;
    color: #91e4fb;
}

.dev-content{
    width: 80vw;
}

.user-img{
    background-color: gray;
    height: 7vmin;
    width: auto;
    min-height: 30px;
    border-radius: 100px;
    box-shadow: 0 0 15px #91e4fb;
    margin-right: 20px;
}

.dev-panel-item{
    padding: 10px;
}

.dev-panel-item:hover{
    background-image: linear-gradient(90deg, transparent, cornflowerblue, transparent);
    text-shadow: 0 0 5px #091f59;
}

.dev-panel-icon{
    height: 1.3em;
    width: auto;
}

.dev-panel-logout{
    color: #91e4fb;
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-shadow: 0 0 5px #091f59;
}

.dev-list{
    width: 100%;
    padding: 0;
}

.dev-list-msg{
    flex-grow: 1;
    height: 1.8em;
    text-align: left;
    margin: 0 10px 2px 10px;
}

.dev-btn{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 0.5em;
    color: black;
    height: 1.8em;
    width: 1.8em;
    background-image: linear-gradient(#7a7a7a, #ffff, #7a7a7a);
}

.blue:hover{
    background-image: linear-gradient(#0844a4, #91e4fb, #0844a4);
}

.orange:hover{
    background-image: linear-gradient(#aa4400ff, #ffdd55ff, #aa4400ff);
}

.red:hover{
    background-image: linear-gradient(#800000ff, red, #800000ff);
}

.dev-icon{
    height: 80%;
    width: auto;
}

/*-------register----------*/

.text-input{
    width: 300px;
    height: 1.5em;
    text-align: center;
}

.error-msg{
    color: red;
    text-align: center;
}

/*-------settings----------*/

.stg-table{
    width: 90%
}

.stg-input{
    width: 5em;
    text-align: center;
}

.stg-script{
    width: 40vw;
    height: 15em;
}

/*---------scripts----------*/

.script-name{
    padding: 0.2em 0.5em;
}